<%= render "devise/shared/header" %>

<div class="main">
  <div class="inner_body">
    <div class="form__wrapper">

        <%= form_with model: @informations, local: true do |f| %>

        <div class="field">
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/footer" %>

